script(type="text/javascript" src='https://code.jquery.com/jquery-3.6.0.min.js')
script(type="text/javascript" src='javascripts//jquery.mask.js')
script(type="text/javascript" src='https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js')
script(type="text/javascript" src='javascripts/index.js')